{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <h1>User Profile</h1>

  <h2>{{ user.username }}</h2>
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Date of Birth: {{ user.userprofile.date_of_birth }}</p>
  <p>Age: {{ user.userprofile.age }}</p>
  <p>Gender: {{ user.userprofile.get_gender_display }}</p>
  <p>Phone Number: {{ user.userprofile.phone_number }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Address: {{ user.userprofile.address }}</p>
  <p>District: {{ user.userprofile.district }}</p>
  <p>Branch: {{ user.userprofile.branch }}</p>
  <p>Account Type: {{ user.userprofile.get_account_type_display }}</p>
  <p>Materials Provided:</p>
    <ul>
        {% for material in user_profile.materials_provided.all %}
        <li>{{ material }}</li>
        {% endfor %}
    </ul>


    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

  <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
